@import url{https://fonts.google.com/share?selection.family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900}
@import url{https://fonts.google.com/share?selection.family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900|Roboto:ital,wght@0,100..900;1,100..900};
*{
  margin:0;
  padding:0;
}
body{
  font-family:'Poppins', sans-serif;
  text-align: center;
}
.wrapper{
  width: 90%;
  margin: 0 auto;
}
header{
  width: 100%;
  height: 100px;
  background: #Ff0000;
  position: fixed;
  display: flex;
}
.logo{
  width: 30%;
  float: left;
  text-align: left;
  line-height: 100px;
}
.logo a{
  text-decoration: none;
  font-size: 24px;
  font-family: 'Pacific';
  color: #fff;
  letter-spacing: 0px;
}
nav{
  float: right;
  line-height: 100px;
}
nav a{
  text-decoration: none;
  font-family: 'Poppins';
  letter-spacing: 3px;
  font-size: 20px;
  color: #fff;
  padding: 36px 8px;
  margin: 0 1px;
}
nav a:hover{
  background: #fff;
  color: #130f40;
  font-weight: 700
}
.banner-area{
  background-image: url(https://images.pexels.com/photos/19294710/pexels-photo-19294710/free-photo-of-view-of-historical-buildings-of-an-old-town-and-a-flag-of-slovakia.jpeg?auto=compress&cs=tinysrgb&w=600.jpg);
  background-size: cover;
  background-position: center center;
  top: 100px;
  height: 100vh; 
  width: 100%;
  position: fixed;
}
.banner-area: after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: #130f40;
  opacity: .7;
  z-index: -1;
}
.banner-area h2{
  padding-top: 8%;
  font-size: 80px;
  color:#fff
}
.content-area{
  width: 100%;
  height: 2400px;
  position: relative;
  background: #ADD8e6;
  top: 600px;
}
.content-area h2{
  font-size: 40px;
  margin:0;
  padding-top: 30px;
  letter-spacing: 4px; 
}
.content-area p{
  padding: 0% 0;
  line-height: 35px;
  text-align: ;
  font-size: 20px;
}
.img_deg{
  float: left;
  width: 50%;
}
.pos_cen{
  position: ce;
  width: 50%;
  height: 400px;
  left:25%;
  top:30%;
  border-radius:40px;
  background-color: black;
  padding: 30px;
}
.img_dfg{
  float: right;
  width: 50%;
}
.we_help{
  posotion:ce;
  width:60%;
  height: 500px;
  left:30%;
  top:30%;
  border-radius:40px;
  background-color: black;
  padding: 30px; 
}
.flex-container {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.pos_cen, .we_help {
  width: 38%; /* Adjust the width as needed */
}
